<!--TODO: Beautify-->
<form [formGroup]="profileForm" class="signup_form">
    <mat-card-content>
        <div class="header">
            <h2>Sign In</h2>
        </div>
        <!--Username Field-->
        <div class="row">
            <div class="col-md-6">
                 <mat-form-field class="full_width">
                    <mat-label>Username: </mat-label>
                    <input matInput formControlName="username" placeholder="Username*" required>
                </mat-form-field>
                <div class="spacer"></div>
            </div>
        </div>
        <!--Password Field-->        
        <div class="row">
            <div class="col-md-6">
                <mat-form-field class="full_width">
                    <mat-label>Password: </mat-label>
                    <input matInput formControlName="password" placeholder="Password*" required>
                </mat-form-field>
                <div class="spacer"></div>
            </div>
        </div>
    </mat-card-content>
    <!--Sign Up Button-->
    <mat-card-actions>
        <button mat-raised-button color="accent" class="btn">Sign In</button>
        <div class="mini-text">Don't have an account? <a id="signup" routerLink="/sign-up">Sign Up</a></div>
    </mat-card-actions>
</form>
