.spacer {
    flex: 1 1 auto;
}

.quest-logo a {
    text-decoration: none;
    color: white;
}

.search {
  padding-top: 22px;
}

.profile-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  border-style: solid;
  border-color: black;
}

.profile-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}