<mat-toolbar color="primary" class="toolbar">
    <span class="quest-logo"><a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">QuestList</a></span>
    <div class="spacer"></div>

    <app-search-bar class="search"></app-search-bar>

    <div class="spacer"></div>

    <button mat-button routerLink="/docs" routerLinkActive="active" ariaCurrentWhenActive="page">Docs</button>
    <button mat-button routerLink="/top-games" routerLinkActive="active" ariaCurrentWhenActive="page">Top Games</button>
    <button mat-button routerLink="/about-us" routerLinkActive="active" ariaCurrentWhenActive="page">About Us</button>
    <span *ngIf="!isLoggedIn">
      <button mat-raised-button color="accent" routerLink="/sign-in" routerLinkActive="active" ariaCurrentWhenActive="page">Sign In</button>
    </span>
    <span *ngIf="isLoggedIn">
      <button [mat-menu-trigger-for]="menu" class = "profile-button"><img src = "../../../assets/icon-profile.png" class = "profile-image"></button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="redirectToProfile()">Profile</button>
        <button mat-menu-item (click)="logout()">Logout</button>
      </mat-menu>
    </span>
  </mat-toolbar>

  <router-outlet></router-outlet>