<span *ngIf="dataSource">
    <div class="content">

        <!-- Game Header -->
        <div class="header">
            <h1>{{dataSource[0].name}}</h1>
        </div>

        <!-- Game Information Container -->
        <div class="box">
            <!-- Left side of the container -->
            <div class="left-box">
                <img src="{{dataSource[0].background_image}}">
                <div class="spacer"></div>
                <form class ="review-box">
                    <h2>Review</h2>
                    <mat-form-field class="example-full-width">
                        <mat-label>Leave a review</mat-label>
                        <textarea matInput placeholder="This game sucks!"></textarea>
                    </mat-form-field>
                    <mat-card-actions>
                        <button class="btn" mat-raised-button color="primary">Add Review</button>
                    </mat-card-actions>
                </form>
            </div>
            <!-- Right side of the container -->
            <div class="right-box">
                <mat-card class="right-card">
                    <h2 class="box-text">Released: {{dataSource[0].released.slice(0,10)}} </h2>
                    <h2 class="box-text">Metacritic: {{dataSource[0].metacritic}}</h2>
                    <h2 class="box-text">Rating: {{dataSource[0].rating}}</h2>
                    <h2 class="box-text">Top Rating: {{dataSource[0].rating_top}}</h2>
                </mat-card>
            </div>
        </div>
    </div>
</span>