<!--TODO: Beautify-->
<form [formGroup]="profileForm" class="signup_form">
    <mat-card-content>
        <div class="header">
            <h2>Sign Up</h2>
        </div>
        <!--Username Field-->
        <div class="row">
            <div class="col-md-6">
                 <mat-form-field class="full_width">
                    <mat-label>Username: </mat-label>
                    <input matInput formControlName="username" placeholder="Username*" required>
                </mat-form-field>
                <div class="spacer"></div>
            </div>
        </div>
        <!--Email Field-->
        <div class="row">
            <div class="col-md-6">
                 <mat-form-field class="full_width">
                    <mat-label>Email: </mat-label>
                    <input matInput formControlName="email" placeholder="Email*" required>
                </mat-form-field>
                <div class="spacer"></div>
            </div>
        </div>
        <!--Password Field-->        
        <div class="row">
            <div class="col-md-6">
                <mat-form-field class="full_width">
                    <mat-label>Password: </mat-label>
                    <input matInput formControlName="password" placeholder="Password*" required>
                </mat-form-field>
                <div class="spacer"></div>
            </div>
        </div>
    </mat-card-content>
    <!--Sign Up Button-->
    <mat-card-actions>
        <button mat-raised-button (click)="addUser(this.profileForm.controls['username'].value || '', this.profileForm.controls['email'].value || '', this.profileForm.controls['password'].value || '')" color="accent" class="btn">Sign Up</button>
        <div class="mini-text">Already have an account? <a id="signin" routerLink="/sign-in">Sign In</a></div>
    </mat-card-actions>
</form>
