<div id="content">
    <article class="top_container">

        <!-- Create table if the datasource exists -->
        <span *ngIf="dataSource">
            <table mat-table [dataSource]="dataSource">
                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Name </th>
                    <td mat-cell *matCellDef="let element"> <a href="game/{{element.name}}">{{element.name}} </a></td>
                </ng-container>
                <!-- Score column -->
                <ng-container matColumnDef="rating">
                    <th mat-header-cell *matHeaderCellDef> Score </th>
                    <td mat-cell *matCellDef="let element"> {{element.rating}} </td>
                </ng-container>

                <!-- Display the columns -->
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <span *ngIf="pageCounter==1">
                    <button class="page1" mat-raised-button color="primary" routerLink="/top-games" routerLinkActive="active" ariaCurrentWhenActive="page" (click)="forwardPage()">Next 40 ></button>
            </span>
            <span *ngIf="pageCounter != 1">
                <div class="button-container">
                    <button class="button-left" mat-raised-button color="primary" routerLink="/top-games" routerLinkActive="active" ariaCurrentWhenActive="page" (click)="previousPage()">< Previous 40</button>
                    <button class="button-right" mat-raised-button color="primary" routerLink="/top-games" routerLinkActive="active" ariaCurrentWhenActive="page" (click)="forwardPage()">Next 40 ></button>
                </div>
            </span>
        </span>
    </article>
</div>
