mat-grid-tile {
    background: lightblue;
}

.left-column {
    width: 60%;
    padding: 30px;
    vertical-align: top;
    float: left;
}

.right-column {
    float: right;
    width: 30%;
    vertical-align: top;
    padding: 30px;
    
}

.spacer {
    height: 30px;
}

.widget-container-right{
    border: 1px solid black;
}

.widget-container-left2 {
    border: 1px solid black;
}


img {
    width: 24%;
    height: 200px;
    padding: 1px;
}

.featured-game {
    width: 100%;
    height: 250px;
    padding-top: 10px;
}

.featured-game-title {
    text-align: center;
}

.label1 {
    padding: 10px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color:blue;
}

.reviewLine {
    padding: 5px;
    color: black;
}

.reviewColor {
    color: blue;
}