mat-grid-tile {
    background: lightblue;
}

.left-column {
    width: 60%;
    padding: 30px;
    vertical-align: top;
    float: left;
}

.right-column {
    float: right;
    width: 30%;
    vertical-align: top;
    padding: 30px;
    
}

.spacer {
    height: 30px;
}

.widget-container-right{
    border: 1px solid black;
}

.widget-container-left2 {
    border: 1px solid black;
}


img {
    width: 25%;
    height: 200px;
}

.label1 {
    padding: 10px;
}